#content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#content .right_option {
	text-align: right;
	font-size: 1.4em;
	margin-bottom: 5px;
	margin-right: 5px;
}

#content .right_option a {
	text-decoration: none;
	color: #00F;
}


#content .menu {

}

#content .menu li {
	font-size: 3em;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px #000 solid;	
	text-align: center;
	list-style: none;
}

#content .menu li a {
	color: #000;
	text-decoration: none;
}

#content .menu li .decks {
	margin-top: 10px;
	padding-top: 10px;
	width: 80%;
	border-top: 1px #ccc solid;
	margin-left: auto;
	margin-right: auto;
}

#content .menu li .decks table {
	margin: 0;
	padding: 0;
	margin-bottom: -40px;
	width: 100%;
	padding-left: 3px;
}

#content .menu li .decks table tr td {
	font-size: 1em;
	text-align: center;
}

#content .menu li .decks table tr td a {
	color: #00f;
	text-decoration: underline;
}

#content .menu li .decks ul {
	margin: 0;
	padding: 0;
}

#content .menu li .decks li {
		font-size: .5em;
		padding-top: 0px;
		padding-bottom: 0px;	
		margin-left: 2px;
		border: none;
		text-align: center;
		list-style: none;
		
		float: left;
		width: 5.3em;
}

#content .menu li .decks li a {
	color: #00f;
	text-decoration: underline;
}

#content .menu li .decks li.completed {
	color: #ccc;
	text-decoration: none;
}

#content .menu li .decks br {
		clear: left;	
}
